body {
  background-image: url("../img/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.jumbotron {
  margin-top: 40px;
}

div.jumbotron {
  height: 300px;
}
img.robot {
  float: left;
  margin-right: 50px;

}
div.outPut {
  margin-top: 30px;
}
button {
  background-color: #1E90FF;
  box-shadow: 5px 5px 5px black;
  color: white;
  border-radius: 5px;
}
button:active {
  box-shadow: 2px 2px 2px #003300;
  transform: translate(3px, 3px);
}


div.center {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
